- count = 0
- retprice = 0
- price = 0
- discount = 0
table#bill-table
    tr
        th #{dated}
        th Buyer
        td(colspan=2) #{buyername}
        th Seller
        td(colspan=2) #{sellername}
    tr
        th(rowspan=2) Purchase ID
        th(colspan=3) Particulars
        th(colspan=3) Pricing
    tr
        th ID
        th Name
        th Quantity
        th Retail Price
        th Discount
        th Price
    for purchase in purchases
        tr
            - count++
            - retprice += purchase.rate
            - price += purchase.price
            - discount += purchase.discount
            td #{purchase.purchase_id}
            td #{purchase.product_id}
            td #{purchase.product_name}
            td #{purchase.quantity}
            td #{purchase.rate}
            td #{purchase.discount}
            td #{purchase.price}
    th(colspan=4) Total
    - discount_total = discount / count
    td #{retprice}
    td #{discount_total}
    td #{price}