include ./head.pug
body 
    include ./notification.pug
    #inbox-main
        #sidebar
            #textmark.smaller
                h1 Email
                    span .io 
                .list-container 
                    #folder-list 
                        li 
                            a(href="/inbox") Primary
                        li 
                            a(href="/starred") Starred
                        li 
                            a(href="/drafts") Drafts
                        li 
                            a(href="/outbox") Outbox
                        li 
                            a(href="/trash") Trash
        #inbox 
            #searchbar 
                input(type="text", placeholder="Search email (enter :help for search patterns)", onkeypress="keyPress()")
            #mail-list-view 
                #mail-list 
                    if emails.length > 0
                        ul 
                            for mail of emails
                                li 
                                    - var functionName = "showReceivedMail('" + mail.mail_id + "')";
                                    a(href="javascript:void(0)", onclick=functionName).message-stub 
                                        h1.mail-title #{mail.subject}
                                        h4.sender-details #{mail.sender_name}
                                            span #{mail.sender_id}
                                        p.message-summary 
                                            #{mail.summary}
                    else 
                        h1 Empty Inbox 
                        h3 It looks like you have no new mail 
                #reader-view 
                    #mail-view 
                        .heading 
                            h1.subject#subject Subject
                            .button-bar
                                i#delete-button.fa-solid.fa-trash(onclick="star")
                                i#star-button.fa-solid.fa-star(onclick="star")
                        .meta-header 
                            .author-info
                                h2#author-name Author Name
                                h4#mail-address author_mail_address
                            .meta.time-info
                                h5#category General
                                h5#time Time
                        .message#message-body Some Message
                        a(href="/compose").floating.compose-button compose 
                        
