include ./head.pug
body 
    include ./header.pug 
    include ./notification.pug
    #inbox-main
        #sidebar
            #textmark.smaller
                h1 Email
                    span .io 
                .list-container 
                    #folder-list 
                        li 
                            a(href="javascript:void(0);", onclick="showInbox()") Primary
                        li 
                            a(href="javascript:void(0);", onclick="showStarred()") Starred
                        li 
                            a(href="javascript:void(0);", onclick="showDrafts()") Drafts
                        li 
                            a(href="javascript:void(0);", onclick="showOutbox()") Outbox
                        li 
                            a(href="javascript:void(0);", onclick="showTrash()") Trash
        #inbox 
            #searchbar 
                input(type="text", placeholder="Search email (enter :help for search patterns)", onkeypress="keyPress()")
            #mail-list-view 
                #mail-list 
                    if mails.length > 0
                        ul 
                            for mail of mails
                                li 
                                    a(href="javascript:void(0)", onclick="showReceivedMail(#{mail.id})") 
                                        h1.mail-title #{mail.subject}
                                        h4.sender-details #{mail.sender_name}
                                            span #{mail.sender_id}
                                        p.message-summary 
                                            #{mail.summary}
            #reader-view 
                #mail-view 
                    h1.subject Subject
                    .meta-header 
                        .author-info
                            h2#author-name Author Name
                            h4#mail-address author_mail_address
                        .meta 
                            h5#category Category
                            h5#time Time
                    .message Some Message
                    .floating.compose-button compose 
                        
